body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link,
a:visited{
    text-decoration: none;
    color: black;
    padding: 0.5rem;
}

a:hover{
    background-color: #a3bb98;
    border-radius: 1rem;
}


ul{
    list-style: none;
}

html{
    font-size: 62.5%;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 1fr 5fr/1fr 5fr;
    grid-template-areas: "nav header" "nav main";
}

.container > div{
    border: 0.1rem solid black;
}

.nav{
    grid-area: nav;
    background-color: #ffb100;
    font-size: 1.8rem;
    padding-top: 10rem;
}

.nav > ul{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.header{
    grid-area: header;
    background-color: #fbc252;
    font-size: 5rem;
    text-align: center;
    padding: 3rem;
}

.main{
    grid-area: main;
}